/* my-loader.component.css */
.loading-spinner{    
    z-index: 99 !important;
    background-color: #0000001f !important;;
    background-color: initial;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
   
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}
.loadingImgResize{
    width: 100px;
    height: 100px;
}