<main>
  <!-- Content -->
  <section class="g-min-height-60vh g-py-50">
    <div class="container">
      <!-- <h1 class="h1 g-font-weight-300 g-color-black g-mb-20">Please download the <strong>Master Slider</strong> demos from the provided dropbox link inside the <strong>README.txt</strong> file.</h1> -->
      <p><code>this is contents </code></p>
    </div>
  </section>
  <!-- End Content -->

  <!-- Call To Action -->
  <!-- <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(../assets/img/bg/pattern5.png);">
        <div class="d-md-flex justify-content-md-center text-center">
          <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in class service for your needs</p>
          </div>
          <div class="align-self-md-center">
            <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697">Purchase Now</a>
          </div>
        </div>
      </section> -->
  <!-- End Call To Action -->

</main>